<div class="container p-4 bg-light">
  <div class="row py-2 sticky-top bg-light">
    {{input value=searchString type="tel" placeholder="Buscar" class="form-control w-100"}}
  </div>
  <div class="row py-2">
    <div class="col-4">
      <button type="button" onclick={{action "filter" "all"}} class="btn btn{{if (eq filterValue "all") "" "-outline"}}-primary w-100">
        <div class="d-flex flex-column">
          <span>Todas</span>
          <span>670</span>
        </div>  
      </button>
    </div>
    <div class="col-4">
      <button type="button" onclick={{action "filter" "pending"}} class="btn btn{{if (eq filterValue "pending") "" "-outline"}}-danger w-100">
        <div class="d-flex flex-column">
          <span>Faltan</span>
          <span>{{pendingCount}}</span>
        </div>
      </button>
    </div>
    <div class="col-4">
      <button type="button" onclick={{action "filter" "repited"}} class="btn btn{{if (eq filterValue "repited") "" "-outline"}}-warning w-100">
        <div class="d-flex flex-column">
          <span>Repetidas</span>
          <span>{{repeatedCount}}</span>
        </div>
      </button>
    </div>
  </div>
  <div class="row py-2">
    <div class="col-3">
      <button type="button" onclick={{action "filter" "firstPage"}} class="btn btn{{if (eq filterValue "firstPage") "" "-outline"}}-info w-100">
        <div class="d-flex flex-column">
          <span>{{fa-icon "gamepad"}}</span>
          <span>{{firstPageCount}}/{{firstPage.length}}</span>
        </div>
      </button>
    </div>
    <div class="col-3">
      <button type="button" onclick={{action "filter" "stadiums"}} class="btn btn{{if (eq filterValue "stadiums") "" "-outline"}}-info w-100">
        <div class="d-flex flex-column">
          <span>{{fa-icon "map-marker"}} </span>
          <span>{{stadiumsCount}}/{{stadiums.length}}</span>
        </div>
      </button>
    </div>
    <div class="col-3">
      <button type="button" onclick={{action "filter" "logos"}} class="btn btn{{if (eq filterValue "logos") "" "-outline"}}-info w-100">
        <div class="d-flex flex-column">
          <span>{{fa-icon "shield"}}</span>
          <span>{{logosCount}}/{{logos.length}}</span>
        </div>
      </button>
    </div>
    <div class="col-3">
      <button type="button" onclick={{action "filter" "legends"}} class="btn btn{{if (eq filterValue "legends") "" "-outline"}}-info w-100">
        <div class="d-flex flex-column">
          <span>{{fa-icon "trophy"}}</span>
          <span>{{legendsCount}}/{{legends.length}}</span>
        </div>
      </button>
    </div>
  </div>
  <div class="row">
    {{#each filteredStickers as |sticker|}}
      <div class="col-3 p-0">
        <div class="p-2 w-100">
          {{#if (eq sticker.count 0)}}
            <button type="button" onclick={{action "addSticker" sticker model}} class="btn btn-outline-danger w-100">{{sticker.sticker}}</button>
          {{else if (eq sticker.count 1)}}
            <button type="button" onclick={{action "updateCount" sticker model}} class="btn btn-success w-100">{{sticker.sticker}}</button>
          {{else}}
            <button type="button" onclick={{action "updateCount" sticker model}} class="btn btn-warning w-100">{{sticker.sticker}}</button>
          {{/if}}
        </div>
      </div>
    {{/each}}
  </div>
</div>
{{#if isShowingModal}}
  <div class="position-fixed modal-backlog w-100 h-100">
    <div class="rounded adding-modal bg-light m-4 p-2">
      <h3 class="w-100 text-center">{{selectedSticker.sticker}}</h3>
      <div class="container">
      <div class="row">
        <div onclick={{action "deleteSticker" selectedSticker model}} class="col-2 text-center p-3">
          {{fa-icon "minus"}}
        </div>
        <div class="col-8 text-center p-3">
          {{selectedSticker.count}}
        </div>
        <div onclick={{action "addSticker" selectedSticker model}} class="col-2 text-center p-3">
          {{fa-icon "plus"}}
        </div>
        <div class="col-12">
          <button type="button" onclick={{action "closeModal"}} class="btn btn-success w-100">Cerrar</button>
        </div>
      </div>
      </div>
    </div>
  </div>
{{/if}}